{% extends "layouts/app.html" %}
{% block title %} Add Question {% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <form action="/question/add"
              method="POST" name="form" id="addForm"
              class="demo-form" data-parsley-validate="true"
              enctype="multipart/form-data">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Add Question
                    </h6>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label for="question">Question *</label>
                        <input id="question" type="text" class="form-control" name="question"
                               required="required" placeholder="e.g. What is 2+2?" autofocus maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" type="text" class="form-control" name="description"
                                  rows="5" maxlength="5000"
                                  placeholder="e.g. patterns, explanations, etc (use appropriate formatting and check preview before adding question)">
                        </textarea>
                    </div>
                    <div class="custom-file form-group mb-4">
                        <button class="btn btn-primary p-0 w-min-content" type="button">
                            <input type="file" class="custom-file-input" id="customFile"
                                   name="file_upload" data-parsley-max-file-size="2048">
                            <span class="upload-file-text text-white">Add Image</span>
                        </button>
                        <span id="fileName"></span>
                    </div>
                    <div class="form-group">
                        <label for="description">Category *</label>
                        <select name="skills" class="form-control select2"
                                multiple="multiple" required>
                            {% for skill in skills %}
                            <option value="{{ skill['id'] }}">
                                {{ skill['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                    
                        <label>Experience & Difficulty Level *</label><br>
                        <span id="notice" style="color: red"></span>
                        {% set index = 1 %}
                        {% for i in range(1,6,2) %}
                        <div class="row mb-1" id="diff">
                            {% set experience = "experience" + i|string %}
                            <label class="col-2 mr-2 mt-2"> {{ i }}+ years</label>
                            <select name={{ experience }} class="form-control col-3 mr-4 group1" data-parsley-min6 = ".group1">
                                <option value="">Select Difficulty</option>
                                {% for difficulty in difficulty_level_list %}
                                <option value="{{ difficulty.value }}">{{ difficulty.name }}</option>
                                {% endfor %}
                            </select>

                            {% set experience = "experience" + (i+1)|string %}
                            <label class="col-2 mr-2 mt-2"> {{ i+1 }}+ years</label>
                            <select name={{ experience }} class="form-control col-3 group1" data-parsley-min6 = ".group1">
                                <option value="">Select Difficulty</option>
                                {% for difficulty in difficulty_level_list %}
                                <option value="{{ difficulty.value }}">{{ difficulty.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="form-group">
                        <label>Type of Question *</label>
                        <select name="question_type" class="form-control" id="questionType" required>
                            <option value="">Select</option>
                            <option value="descriptive">Descriptive</option>
                            <option value="multiple_correct">Multiple Correct Answers</option>
                            <option value="single_correct">Single Correct Answer</option>
                        </select>
                    </div>

                    <div id="ansCnt"></div>
                    <div class="row">
                        <div class="col">
                            <div id="plusBtn">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-success btn-icon-split btn-sm">
                        <span class="text">Submit</span>
                    </button>
                    <a href="/question/list" class="btn btn-outline-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </form>                
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"
        type="text/javascript"></script>
<script src="{{ static('main/js/editor.js') }}"></script>
<link rel="stylesheet" href="{{ static('main/css/editor_css.css') }}">
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/question/add.js') }}"></script>
<script>
    let simplemde = new SimpleMDE({
        element: document.getElementById("description"),
        toolbar: ["bold", "italic", "heading", "|", "code", "ordered-list", "image", "|", "preview", "side-by-side", "fullscreen"],
        spellChecker: false,
        autofocus: true
    });
    simplemde.value("");

    $("#customFile").on("change", function () {
        let string = $("#customFile")[0].value;
        string = string.split('\\');
        let ln = string.length;
        $("#fileName").text(string[ln-1]);
    })
</script>
{% endblock %}
