<table class="table table-bordered dataTable p-05" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
   <thead>
      <tr role="row">
         <th>Question</th>
         <th>Skills</th>
         <th>Type</th>
         <th>Action</th>
      </tr>
   </thead>
   <tbody>
      {% for qs,i in zip(questions, skill) %}
      {% if qs.is_active == true%}
      <tr role="row" class="odd">
         <td>
            <a href="/question/view?question_id={{qs.id}}">
            {{ qs.title }} </a>&nbsp;&nbsp;<a href="/question/update?question_id={{qs.id}}&page={{page.current_page }}"
                                              class="text-info"><i class="flaticon-square"></i></a>
         </td>
         <td>
            {{ i }}
         </td>
         <td>{{ qs.type.name }}</td>
         <td>
            <a class="text-danger" href="/question/deactivate?question_id={{qs.id}}&page={{page.current_page}}">
            Deactivate </a>
         </td>
      </tr>
      {% else %}
      <tr role="row" class="odd">
         <td class="bg-gray-200">{{ qs.title }}</td>
         <td class="bg-gray-200">{{ i }}</td>
         <td class="bg-gray-200">{{ qs.type.name }}</td>
         <td class="bg-gray-200">
            <a class="text-success" href="/question/activate?question_id={{qs.id}}&page={{page.current_page}}">
            Activate </a>
         </td>
      </tr>
      {% endif %}
      {% endfor %}
   </tbody>
</table>