{% extends "layouts/app.html" %}
{% block title %} Add Question {% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <form action="/question/update?question_id={{question.id}}&page={{page}}"
              method="POST" name="form" id="addForm" class="demo-form"
              data-parsley-validate="true" enctype="multipart/form-data">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Update Question
                    </h6>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label for="question">Question *</label>
                        <input id="question" type="text" class="form-control" name="question"
                               required="required" placeholder="e.g. What is 2+2?" autofocus maxlength="100"
                               value="{{question.title}}" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" type="text" class="form-control" name="description"
                                  rows="5" maxlength="5000"
                                  placeholder="e.g. patterns, explanations, etc (use appropriate formatting and check preview before adding question)">
                            {{- question.description -}}
                        </textarea>
                    </div>
                    <div class="custom-file form-group mb-4">
                        <button class="btn btn-primary p-0 w-min-content" type="button">
                            <input type="file" class="custom-file-input" id="customFile"
                                   name="file_upload" data-parsley-max-file-size="2048">
                            <span class="upload-file-text text-white">Add Image</span>
                        </button>
                        {% if description_image %}
                        <span id="fileName">{{description_image}}</span><i class="fas fa-times-circle" id="fileRemove"></i>
                        {% else %}
                        <span id="fileName"></span>
                        {% endif %}
                    </div>
                    <input type="hidden" value="" id="hiddenDescriptionImage" name="description_image_tracker">
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-success btn-icon-split btn-sm">
                        <span class="text">Update</span>
                    </button>
                    <a href="/question/list?page={{page}}" class="btn btn-outline-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </form>                
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" type="text/javascript"></script>
<script src="{{ static('main/js/editor.js') }}"></script>
<link rel="stylesheet" href="{{ static('main/css/editor_css.css') }}">
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script>
    let simplemde = new SimpleMDE({
        element: document.getElementById("description"),
        toolbar: ["bold", "italic", "heading", "|", "code", "ordered-list", "|", "preview", "side-by-side", "fullscreen"],
        spellChecker: false,
        autofocus: true
    });
    $("#fileRemove").on("click", function () {
        $("#fileName").text("");
        $("#hiddenDescriptionImage").val("True");
        $("#fileRemove").remove();
    });
    $("#customFile").on("change", function () {
        let string = $("#customFile")[0].value;
        string = string.split('\\');
        let ln = string.length;
        $("#fileName").text(string[ln-1]);
        $("#hiddenDescriptionImage").val(string[ln-1]);
        $("#fileRemove").remove();
    })
</script>
{% endblock %}
