{% extends "layouts/app.html" %}
{% block title %} Question {% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h5 class="mb-0 text-gray-800">Question</h5>
<!--                <div>-->
<!--                    <a class="btn btn-sm btn-primary"-->
<!--                       href="/question/add">Add</a>-->
<!--                </div>-->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable"
                           role="grid" aria-describedby="dataTable_info" style="width: 75%;">
<!--                        <tr role="row">-->
<!--                            <th>Title</th>-->
<!--                            <th>Type</th>-->
<!--                            <th>Description</th>-->
<!--                            <th>Answer</th>-->
<!--                        </tr>-->
<!--                        <tr role="row" class="odd">-->
<!--                            <td>{{ question.title }}</td>-->
<!--                            <td>{{ question.type.name}}</td>-->
<!--                            <td>{{ question.description }}</td>-->
<!--                            <td>{{ question.answer_options }}</td>-->
<!--                        </tr>-->
                        <tr>
                            <td>Title</td>
                            <td>{{ question.title }}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ question.type.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td id="question-description">
                                <div class="markdown-content">{{ question.description }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Description Image</td>
                            <td id="question-description_image">
                                {% if question.description_image %}
                                <img class="img-fluid" src="/media/question/{{question.id}}/{{question.description_image}}"/>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Answer</td>
                            <td>{{ question.answer_options }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ static('main/js/marked.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".markdown-content").each(function () {
            let content = $(this).text();
            let markeddownContent = marked(content);
            $(this).html(markeddownContent);
        })
    })
</script>
{% endblock %}