{% extends 'layouts/app.html' %}

{% block title %} Create Test {% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <form action="/test/generate" method="POST" name="form" id="addForm">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h1 class="h5 mb-0 text-gray-800">Create Test</h1>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="first_name">Candidate First Name *</label>
                            <input id="first_name" type="text" class="form-control" name="first_name"
                                   required="required" autofocus maxlength="30" data-parsley-name/>
                        </div>
                        <div class="form-group col-6">
                            <label for="last_name">Candidate Last Name *</label>
                            <input id="last_name" type="text" class="form-control"
                                   name="last_name"
                                   required="required" maxlength="30" data-parsley-name/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="email">Candidate Email *</label>
                            <input id="email" type="email" class="form-control" name="email"
                                   required="required" maxlength="100" data-parsley-type="email"/>
                        </div>
                        <div class="form-group col-6">
                            <label for="mobile_number">Candidate Mobile Number *</label>
                            <input id="mobile_number" type="tel"
                                   class="form-control" name="mobile_number"
                                   required="required" maxlength="10" data-parsley-pattern="[0-9]{10}" oninput="contactInput()"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="gender">Candidate Gender *</label>
                            <select id="gender" name="gender" class="form-control" required>
                                <option value="">Select</option>
                                {% for _gender in gender %}
                                <option value="{{ _gender.value }}">{{ _gender.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="total_questions">Total Questions *</label>
                            <input type="number" class="form-control" min="0"
                                   id="total_questions" name="total_questions" maxlength="2"
                                    data-parsley-range="[5, 30]" required="required" oninput="validity.valid||(value='');">
                        </div>
                        <div class="form-group col-6">
                            <label for="test_expire">Test Expires on *</label>
                            <input type="datetime-local" class="form-control"
                                   id="test_expire" name="test_expire" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="designation">Designation *</label>
                            <input id="designation" type="text" class="form-control" name="designation"
                                   required="required" autofocus maxlength="30" data-parsley-name/>
                        </div>
                    </div>
                    <div id="generate_skill_experience_field">
                        <div class="form-group">
                            <label>Candidate Skills *</label>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label
                                            style="font-size: .875em; color: rgb(130,130,130);">
                                        Skill
                                    </label>
                                    <select class="form-control mt-1" name="skill_1" id="skill_1" required>
                                        {% for skill in skills %}
                                        <option value="{{ skill['id'] }}">
                                            {{ skill['title'] }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label
                                            style="font-size: .92em; color: rgb(130,130,130);">
                                        Experience
                                    </label>
                                    <select class="form-control mt-1" name="experience_1" id="experience_1">
                                        {% for i in range(1,7) %}
                                        <option value={{ i }}>{{ i }}+ Years</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="text" value="{{ skill_length }}" id="skill_length" hidden>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="plusBtn" class="mr-2 ml-3">
                            <a onclick="generateSkills()"
                                   class="btn btn-outline-primary btn-sm mb-2"> + </a>
                        </div>
                        <div id="minusBtn">
                            <a onclick="removeSkills()" class="btn btn-outline-danger btn-sm mb-2"> - </a>
                        </div>
                    </div>
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-success btn-icon-split btn-sm">
                        <span class="text">Submit</span>
                    </button>
                    <a href="/test/list" class="btn btn-outline-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ static('main/css/flatpickr.css') }}">
<script src="{{ static('main/js/test/flatpicker.js') }}" type="text/javascript"></script>
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/test/add.js') }}"></script>
{% endblock %}

<script type="text/javascript">
    let today = new Date();
    let year = today.getFullYear();
    let month = today.getUTCMonth() +1;
    let date = today.getDate();
    today = year+"-"+month+"-"+date+" "+today.getHours()+":"+today.getMinutes();
    $("#test_expire").flatpickr({ enableTime: true, minDate: today});

    let index_add = 1;
    let index_remove = 1;
    let skill_length = parseInt(document.getElementById("skill_length").value);

    function generateSkills() {
        if(index_add<skill_length){
            let oldSkillID = "#skill_" + index_add.toString();
            let oldExperienceID = "#experience_" + index_add.toString();
            let clonedSkill = $(oldSkillID).clone();
            let clonedExperience = $(oldExperienceID).clone();

            clonedSkill.attr({
                "name": "skill_" + (index_add + 1).toString(),
                "id": "skill_" + (index_add + 1).toString()
            });
            clonedExperience.attr({
                "name": "experience_" + (index_add + 1).toString(),
                "id": "experience_" + (index_add + 1).toString()
            });

            $(oldSkillID).after(clonedSkill);
            $(oldExperienceID).after(clonedExperience);
            index_add = index_add + 1;
            index_remove = index_remove + 1;
        }
        else {
            alert("Cannot add more skills to test")
        }
    }

    function removeSkills() {
        if(index_remove > 1 ){
            let currentSkillId = "#skill_"+index_remove.toString();
            let currentExperienceId = "#experience_"+index_remove.toString();
            $(currentSkillId).remove();
            $(currentExperienceId).remove();
            index_add -= 1;
            index_remove -= 1;
        }
        else {
            alert("Cannot remove skill from the test")
        }
    }
    function contactInput() {
        let element = document.getElementById('mobile_number');
        let div = document.getElementById(element.getAttribute("aria-describedby").toString());
        if(element.value.length == 10) {
            element.classList.remove("is-invalid");
            element.classList.remove("text-danger");
            div.style.display = "none";
        }
        else {
            div.style.display = "initial";
        }
    };
</script>
{% endblock %}
