{% extends 'layouts/app.html' %}

{% block title %} Create Test {% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <form action="/test/clone" method="POST" name="form" id="addForm">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h1 class="h5 mb-0 text-gray-800">Create Test</h1>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="first_name">Candidate First Name *</label>
                            <input id="first_name" type="text" class="form-control" name="first_name"
                                   required="required" autofocus maxlength="30" data-parsley-name/>
                        </div>
                        <div class="form-group col-6">
                            <label for="last_name">Candidate Last Name *</label>
                            <input id="last_name" type="text" class="form-control"
                                   name="last_name"
                                   required="required" maxlength="30" data-parsley-name/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="email">Candidate Email *</label>
                            <input id="email" type="email" class="form-control" name="email"
                                   required="required" maxlength="100" data-parsley-type="email"/>
                        </div>
                        <div class="form-group col-6">
                            <label for="mobile_number">Candidate Mobile Number *</label>
                            <input id="mobile_number" type="tel"
                                   class="form-control" name="mobile_number"
                                   required="required" maxlength="10" data-parsley-pattern="[0-9]{10}" oninput="contactInput()"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="gender">Candidate Gender *</label>
                            <select id="gender" name="gender" class="form-control" required>
                                <option value="">Select</option>
                                {% for _gender in gender %}
                                <option value="{{ _gender.value }}">{{ _gender.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="test_expire">Test Expires on *</label>
                            <input type="datetime-local" class="form-control"
                                   id="test_expire" name="test_expire" required>
                        </div>
                        <input type="hidden" value="{{test_id}}" id="testId" name="test_id">
                    </div>
                    <div class="card-footer">
                        <button type="submit"
                                class="btn btn-success btn-icon-split btn-sm">
                            <span class="text">Clone</span>
                        </button>
                    <a href="/test/list" class="btn btn-outline-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ static('main/css/flatpickr.css') }}">
<script src="{{ static('main/js/test/flatpicker.js') }}" type="text/javascript"></script>
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/test/add.js') }}"></script>
{% endblock %}

<script type="text/javascript">
    let today = new Date();
    let year = today.getFullYear();
    let month = today.getUTCMonth() +1;
    let date = today.getDate();
    today = year+"-"+month+"-"+date+" "+today.getHours()+":"+today.getMinutes();
    $("#test_expire").flatpickr({ enableTime: true, minDate: today});

    function contactInput() {
        let element = document.getElementById('mobile_number');
        let div = document.getElementById(element.getAttribute("aria-describedby").toString());
        if(element.value.length == 10) {
            element.classList.remove("is-invalid");
            element.classList.remove("text-danger");
            div.style.display = "none";
        }
        else {
            div.style.display = "initial";
        }
    };
</script>
{% endblock %}
