{% extends 'layouts/empty.html' %}

{% block title %} Thank You {% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-3">SORRY</h1>
        <p class="lead">

        <p><strong>Your test has expired.</strong></p>

        Kindly contact <span class="text-primary">{{name}}</span> at <a href="mailto:{{email}}">{{email}}</a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ static('main/js/test/thankyou.js') }}"></script>
{% endblock %}