{% extends 'layouts/empty.html' %}

{% block title %} Hiring Test {% endblock %}

{% block load_header_scripts %}
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
        <div class="card shadow mt-4">
            <div class="card-body">
                {% set url='?token='+token+'&next_question_id='+next_question_id|string %}

                {% if on_last_question %}
                {% set url='?token='+token+'&next_question_id=-1' %}
                {% endif %}

                <form action="{{ url }}" method="POST" name="form" id="testForm">

                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="question_id" value="{{ question['id'] }}"/>
                    <input type="hidden" name="time_left" id="timeLeft" value=""/>
                    <input type="hidden" name="test_id" id="testID" value="{{ test_id }}"/>
                    <div>
                        <div id="seconds-info" class="float-right mt-0">
                            <span id="timer" class="font-weight-bold h5 text-danger" name="timer">
                                {{ time_left }}
                            </span>
                            <span> seconds</span>
                        </div>
                        <h5 class="font-weight-bold">Question: {{question_number}}</h5>

                        <div class="ml-4">
                            <p> {{ question['title'] }} </p>
                        </div>
                    </div>
                    {% if question['description'] or question.description_image %}
                        <div class="mt-3">
                            <h5 class="font-weight-bold d-inline">Description:</h5>
                            {% if question['description']%}
                            <div class="ml-4">
                                <div class="overflow-auto ws-pr" id="question-description">{{ question['description'] }}</div>
                            </div>
                            {% endif%}
                            {% if question.description_image %}
                            <img src="/media/question/{{question.id}}/{{question.description_image}}" class="img-fluid mt-3"/>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="mt-3">
                        <h5 class="font-weight-bold">
                            <label for="answer">Answer:</label>
                        </h5>
                    </div>

                    {% if question['type'] == 1 %}
                    <div class="form-group">
                        <textarea id="answer" type="text" class="form-control" name="description"
                                  required="required" placeholder="Write your answer here"
                                  data-parsley-required-message="Please fill in the answer"
                                  rows="12" data-gramm_editor="false" data-gramm="false">
                            {% if question['previous_answer'] is not none %}
                                {{ question['previous_answer'] }}
                            {% endif %}
                        </textarea>
                    </div>
                    {% endif %}
                    {% if question['type'] == 2 %}
                    {% for answer_option in question['answer_options'] %}
                    {% set input_id = "answer-" + (loop.index)|string %}

                    <div class="form-group mt-3 ml-5" id="type2FormGroup">
                        <label for="{{ input_id }}">
                            <input type="checkbox" class="form-check-input"
                                   id="{{ input_id }}" required
                                   name="answer_options" data-parsley-errors-container="#errordiv"
                                   value="{{ answer_option }}" data-parsley-required-message="Please choose an option"
                                   {% if question['previous_answer'][answer_option]==true %} checked {% endif %}
                            />
                            {{ answer_option }}
                        </label>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if question['type'] == 3 %}
                    {% for answer_option in question['answer_options'] %}
                    {% set input_id = "answer-" + (loop.index)|string %}
                    <div class="form-group mt-3 ml-5" id="type3FormGroup">
                        <label for="{{ input_id }}">
                            <input type="radio" class="form-check-input"
                                   id="{{input_id}}" required
                                   name="answer_options" data-parsley-errors-container="#errordiv"
                                   value="{{ answer_option }}" data-parsley-required-message="Please choose an option"
                                   {% if question['previous_answer'][answer_option]==true %} checked {% endif %}/>
                            {{ answer_option }}
                        </label>
                    </div>
                    {% endfor %}

                    {% endif %}
                    <div id="errordiv" class="h4"></div>
                    {% if not on_last_question %}

                    <button type="submit" class="btn btn-primary mt-3 " id="next" >
                        <span class="" id="span-next"></span>
                    Next
                    </button>

                    {% endif %}
                    {% if on_last_question %}
                    <button type="submit" class="btn btn-primary mt-3" id="submit">
                        <span id="span-submit"></span>
                        Submit
                    </button>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="{{ static('main/css/editor_css.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" type="text/javascript"></script>
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/editor.js') }}"></script>
<script src="{{ static('main/js/test/inprogress.js') }}"></script>
<script src="{{ static('main/js/marked.js') }}"></script>
<script>
    $(document).ready(function () {
     $('#testForm').parsley({
              trigger: 'change',
              successClass: "is-valid",
              errorClass: "is-invalid text-danger",
              errorsWrapper: '<div class="input-group"></div>',
              errorTemplate: '<small class="form-text text-danger"></small>',
     })
       .on('form:submit', function () {
            $("#span-next").addClass("spinner-border spinner-border-sm");
            $("#next").attr("disabled", "disabled");
            $("#span-submit").addClass("spinner-border spinner-border-sm");
            $("#submit").attr("disabled", "disabled");
        });
    });

    window.Parsley.on('field:error', function() {
        $(this.$element[0]).parent().removeClass("is-invalid text-danger");
    });
    let simplemde = new SimpleMDE({
        element: document.getElementById("answer"),
        toolbar: ["bold", "italic", "heading", "|", "code", "ordered-list", "|", "preview", "side-by-side", "fullscreen"],
        spellChecker: false,
        autofocus: true
    });
    let ans = $("#answer").text();
    simplemde.value($.trim(ans));

    $(document).ready(function () {
        $("#question-description").each(function () {
            let content = $(this).text();
            let markeddownContent = marked(content);
            $(this).html(markeddownContent);
        })
    })
</script>
{% endblock %}
