{% extends 'layouts/empty.html' %}
{% block title %} Hiring Test {% endblock %}
{% block styles %}
<style xmlns="http://www.w3.org/1999/html">
    :root {
        --pending_questions_percent: 60%;
    }

    #progressbar {
        width: var(--pending_questions_percent);
    }

</style>
{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-8 mt-5">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    No. of Questions
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ [test.total_questions, test.question_ids | length ] | min }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Time Left / Total
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <small style="font-size: 19px"><strong>
                                        {{ test.time_left }} / {{ test.total_time }} seconds</strong></small>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if result == None%}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pending
                                    Questions
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">100%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: 100%"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pending
                                    Questions
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            {{pending_questions_percent | int}}%
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" id="progressbar"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Skills
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {% for skill in skills %}
                                    <small style="font-size: 15px"><strong>{{ skill }}</strong></small>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card shadow mt-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary float-left">
                    General Information
                </h4>
                <p class="m-0 font-weight-bold text-primary float-right">
                    Your IP: {{ ip_address }}
                </p>
            </div>
            {% set url='inprogress?token='+token+'&next_question_id='+question_id|string %}
            <form method="post" action="{{ url }}" name="form" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="candidate_photo" id="candidate_photo">

                <div class="card-body">
                    <div class="container-fluid">
                        <ol>
                            <li>You test will be automatically submitted once the timer ends.</li>
                            <li>In case of any problem during the test, you can again continue with the link provided in
                                your concerned email.
                            </li>
                            <li>Use Chrome browser to perform this test.</li>
                            <li>Provide a picture of yours below:</li>
                            <div class="row mt-5">
                                <div class="camera text-center mt-2">
                                    <video id="video">Video stream not available.</video>
                                </div>
                                <div class="text-center m-auto">
                                        <button id="capturePhotoBtn" class="btn btn-primary mt-2 mb-2 text-center align-bottom">
                                            Capture a Photo
                                        </button>
                                    </div>
                                <div class="text-center">
                                    <canvas id="canvas"></canvas>
                                </div>
                            </div>
                            <div class="mb-5 mt-2 text-center">
                                <button type="submit" id="submit_test" class="btn btn-primary mt-3" disabled>
<!--                                <button type="submit" id="submit_test" class="btn btn-primary mt-3" >-->
                                    Start Test
                                </button>
                            </div>
                        </ol>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ static('main/js/test/start.js') }}"></script>
{% endblock %}
