<table class="table">
    <thead class="">
    <tr>
        {#
        <th scope="col">Candidate</th>
        #}
        <th scope="col">Total Questions</th>
        <th scope="col">Candidate name</th>
        <th scope="col">Candidate email</th>
        <th scope="col">Left/Total Time</th>
        <th scope="col">Test URL</th>
        <th scope="col">Status</th>
        <th scope="col">Skill(s)</th>
        <th scope="col">Created at</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    {% for test,i,j in zip(test_list,user_name,user_email) %}
    <tr>
        {#
        <td>{{ candidate_name }}</td>
        #}
        <td>
            {{ test.total_questions }}
        </td>
        <td>
            <span class="d-block">{{ i }}</span>
            <small class="text-muted">{{test.designation}}</small>
        </td>
        <td>
            {{ j }}
        </td>
        {% if test.time_left//60 > 0 %}
        <td>{{ test.time_left//60 }} m {{test.time_left%60}} s / {{ test.total_time//60 }} m {{
            test.total_time%60 }} s
            {% else %}
        <td>{{ test.time_left }} seconds / {{ test.total_time }} seconds</td>
        {% endif %}

        {% if test.token %}
        {% set url = base_url + "/test/start?token=" + test.token %}
        <td><a class="btn text-primary {{'disabled' if test.status.name == 'EXPIRED' or test.status.name == 'CLOSED' else ''}}"
               href="{{ url if test.status.name == 'NEW' or test.status.name == 'IN_PROGRESS' else '#'}}"
               target="_blank">Test
            {{ test.id }}</a></td>
        {% else %}
        <td><a class="btn text-primary disabled" href="#">Test {{ test.id }}</a></td>
        {% endif %}

        {% if test.status %}
        <td class="{{'text-danger' if test.status.name == 'EXPIRED' else ''}}">{{ test.status.name }}</td>
        {% else %}
        <td> None</td>
        {% endif %}
        <td>
            {% for _test_skill in test.skill %}
            {% if _test_skill['skill'] | int in skill_dict | list%}
            {{ skill_dict[_test_skill['skill'] | int][0]}}
            {% if not loop.last %} , {% endif %}
            {% endif %}
            {% endfor %}
        </td>

        <td>
            {{ test.created_at.strftime('%d-%h-%Y %T') }}
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-sm btm-primary dropdown-toggle"
                        data-toggle="dropdown"
                        type="button">Select Operation<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% if test.status.name == "NEW" %}
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="/test/update?test_id={{ test.id }}">Update</a></li>
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="/test/resend_email?test_id={{ test.id }}">Resend E-Mail</a></li>
                    {% endif %}
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="/test/view?test_id={{test.id}}">View</a></li>
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="/test/clone?test_id={{test.id}}">Clone</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>