{% extends 'layouts/empty.html' %}

{% block title %} Thank You {% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank you!</h1>
        <p class="lead">

        <p><strong>Your test has been submitted.</strong></p>

        You will be contacted for further instructions once shortlisted.
        </p>
        {% if test_id %}
        <p id="thankyou" class="d-none"><strong>Thank you for submitting the feedback.</strong></p>
        <p id="feedbackGuideline">Please write a feedback about the test / platform (optional).</p><br/>
        <div class="text-left">
            <form action="/test/feedback" id="feedbackForm" method="post">
            <div class="form-group">
                <input id="csrfToken" name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
                <input id="testID" name="test_id" type="hidden" value="{{test_id}}"/>
                <textarea class="form-control" id="feedback" maxlength="500" name="description"
                          placeholder="Leave a feedback in under 500 characters..." rows="10"
                          type="text">
                </textarea>
            </div>
            <button class="btn btn-primary mt-3 " id="next" type="submit">
                <span class="" id="span-next"></span>
                Submit
            </button>
        </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ static('main/js/test/thankyou.js') }}"></script>
<script src="{{ static('main/js/editor.js') }}"></script>
<link href="{{ static('main/css/editor_css.css') }}" rel="stylesheet">
<script>
    let simplemde = new SimpleMDE({
        element: document.getElementById("feedback"),
        toolbar: ["bold", "italic", "heading", "|", "code", "ordered-list", "|", "preview", "side-by-side", "fullscreen"],
        spellChecker: false,
        autofocus: true
    });
    simplemde.value('');
    simplemde.codemirror.on("change", function () {
        if (simplemde.value().length > 500) {
            let value = simplemde.value();
            simplemde.value(value.substring(0, 500));
            alert('The character limit has reached.');
        }
    });
    $('#feedbackForm').on('submit', function (event) {
        event.preventDefault();
        let feedback = simplemde.value();
        let test_id = $("#testID").val();
        $.ajax({
            type: "POST",
            url: '/test/feedback/',
            data: {
                'csrfmiddlewaretoken': $('#csrfToken').val(),
                'feedback': feedback,
                'test_id': test_id
            },
            dataType: 'json',
            beforeSend: function () {
                // Show animation
                $("#span-next").addClass("spinner-border spinner-border-sm");
                $("#next").attr("disabled", "disabled");
            },
            success: function (data) {
                if (data.success) {
                    $("#feedbackGuideline").addClass('d-none');
                    $("#feedbackForm").addClass('d-none');
                    $("#thankyou").removeClass('d-none');
                } else {
                    $("#feedbackGuideline").addClass('d-none');
                    $("#feedbackForm").addClass('d-none');
                    $("#thankyou").html('Sorry, couldn\'t save your feedback, its our fault, don\'t worry ');
                    $("#thankyou").removeClass('d-none');
                }
            }
        });
    });
</script>
{% endblock %}