{% extends 'layouts/empty.html' %}

{% block title %} Please use Chrome Browser {% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Use Chrome browser to continue with this test.</h1>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ static('main/js/test/thankyou.js') }}"></script>
{% endblock %}