{% extends "layouts/app.html" %}
{% block title %} Test {% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h5 class="mb-0 text-gray-800">Candidate Details</h5>
                <a href="/test/list/"><button class="btn"><i class="fas fa-long-arrow-alt-left"></i> Back</button></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable"
                           role="grid" aria-describedby="dataTable_info" style="width: 75%;">
                            <td>Email id</td>
                            <td>{{ users.email }}</td>
                        </tr>
                        </tr>
                            <td>First name</td>
                            <td>{{ users.first_name }}
                        </tr>
                        </tr>
                            <td>Last name</td>
                            <td>{{ users.last_name }}</td>
                        </tr>
                        </tr>
                            <td>Mobile number</td>
                            <td>{{ users.mobile_number }}</td>
                        </tr>
                        </tr>
                            <td>Gender</td>
                            <td>{{ users.gender.name }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h5 class="mb-0 text-gray-800">Test</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable"
                           role="grid" aria-describedby="dataTable_info" style="width: 75%;">
                        <tr>
                            <td>Total questions</td>
                            <td>{{ test.total_questions }}</td>
                        </tr>
                        <tr>
                            <td>Skill</td>
                            <td>{% for i in range(length) %}
                                    {{ s[i] }}, {{ e[i] }}+ Years <br>
                                {% endfor %}
                            </td>
                        </tr>
                            <td>Total Time</td>
                            <td>{{ test.total_time }} sec</td>
                        </tr>
                        </tr>
                            <td>Time Left</td>
                            <td>{{ test.time_left }} sec</td>
                        </tr>
                        </tr>
                            <td>Status</td>
                            <td>{{ test.status.name }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}