    /*
    Flaticon icon font: Flaticon
    Creation date: 20/05/2020 16:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-square:before { content: "\f100"; }
.flaticon-signs:before { content: "\f101"; }
.flaticon-passkey:before { content: "\f102"; }
.flaticon-interface:before { content: "\f103"; }
.flaticon-left-angle:before { content: "\f104"; }
.flaticon-shape:before { content: "\f105"; }
.flaticon-null:before { content: "\f106"; }
.flaticon-interface-1:before { content: "\f107"; }
    
    $font-Flaticon-square: "\f100";
    $font-Flaticon-signs: "\f101";
    $font-Flaticon-passkey: "\f102";
    $font-Flaticon-interface: "\f103";
    $font-Flaticon-left-angle: "\f104";
    $font-Flaticon-shape: "\f105";
    $font-Flaticon-null: "\f106";
    $font-Flaticon-interface-1: "\f107";