	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/05/2020 16:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-square:before { content: "\f100"; }
.flaticon-signs:before { content: "\f101"; }
.flaticon-passkey:before { content: "\f102"; }
.flaticon-interface:before { content: "\f103"; }
.flaticon-left-angle:before { content: "\f104"; }
.flaticon-shape:before { content: "\f105"; }
.flaticon-null:before { content: "\f106"; }
.flaticon-interface-1:before { content: "\f107"; }