{% if page.is_paginated %}
{% if page.last_page > 1 %}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if page.current_page > 1 %}
        <li class="page-item">
            <a class="page-link" href="?page={{page.prev}}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        {% if page.last_page < 7 + (page.stages * 2) %}
          {% for i in range(1, page.last_page+1)%}
          {% if i == page.current_page %}
          <li class="page-item disabled">
              <a class="page-link" href="#">{{i}}
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          {% else %}
          <li class="page-item">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
          </li>
          {% endif %}
          {% endfor %}
        {% elif page.last_page > 5 + (page.stages * 2) %}
          {% if page.current_page < 1+(page.stages*2) %}
          {% for i in range(1, 4+(page.stages*2))%}
          {% if page.current_page == i %}
            <li class="page-item disabled">
                <a class="page-link" href="#">{{i}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}">
                    {{i}}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="page-item disabled">
                <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page.last_page-1}}">{{page.last_page-1}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page.last_page}}">{{page.last_page}}
                </a>
            </li>
          {% elif page.last_page - (page.stages*2) > page.current_page and page.current_page > (page.stages * 2) %}
            <li class="page-item">
                <a class="page-link" href="?page=1">1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page=2">2
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
            </li>
            {% for i in range(page.current_page - page.stages, page.current_page+page.stages+1)%}
            {% if page.current_page == i %}
            <li class="page-item disabled">
                <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}">{{i}}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="page-item disabled">
                <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page.last_page-1}}">{{page.last_page-1}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page.last_page}}">{{page.last_page}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page=1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page=2">2</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
            </li>
            {% for i in range(page.last_page-(2+(page.stages*2)), page.last_page+1)%}
            {% if page.current_page == i %}
            <li class="page-item disabled">
                <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
        {% if page.current_page < page.last_page %}
        <li class="page-item">
            <a class="page-link" href="?page={{page.next}}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endif %}