{% extends "layouts/app.html" %}
{% block content %}
<div class="row d-flex justify-content-center align-content-center align-items-center">
    <div class="col-12">
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <p class="text-gray-500 mb-0">You are lost bud...</p>

        </div>
    </div>
</div>
{% endblock %}