<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock %} - MyCandidature
    </title>
    <meta name="csrf-token" content="{{ csrf_token }}"/>
        <link rel="stylesheet" type="text/css" href="{{ static('main/font/flaticon.css') }}">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ static('main/css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ static('main/css/main.css') }}">
    {% block load_header_scripts %} {% endblock %}
</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        {% if request.session.get('is_super_admin') %}
        <li class="nav-item">
            <a class="nav-link" href="/skill/list">
                <i class="flaticon-interface"></i>
                <span>Skill</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/organization/list">
                <i class="flaticon-interface"></i>
                <span>Organization</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/question/list">
                <i class="flaticon-interface"></i>
                <span>Question</span></a>
        </li>
        {% endif %}
        {% if request.session.get('is_org_admin') %}
        <li class="nav-item">
            <a class="nav-link" href="/test/list">
                <i class="flaticon-interface"></i>
                <span>Test</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/result/list">
                <i class="flaticon-interface"></i>
                <span>Result</span></a>
        </li>
        {% endif %}
        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle">
                <i class="flaticon-left-angle"></i>
            </button>
        </div>

    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="flaticon-left-angle"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.session['user_first_name'] }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/user/change_password">
                                <i class="flaticon-passkey"></i>
                                Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout">
                                <i class="flaticon-signs"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            {% if messages %}
            {% for msg in messages %}
            {% if msg.tags == 'error' %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close alert-msg-close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ msg.message }}
            </div>
            {% endif %}
            {% if msg.tags == 'success' %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close alert-msg-close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ msg.message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="container-fluid m-2 p-0">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="sticky-footer bg-white py-3">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; MyCandidature 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>


<script src="{{ static('main/plugins/bootstrap-4/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ static('main/plugins/sb-admin-2/js/sb-admin-2.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    function APP() {
    }
</script>

<script src="{{ static('main/js/app.js')}}" type="text/javascript"></script>

{% block scripts %}

{% endblock %}
</body>
</html>
