<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock %} - MyCandidature
    </title>
    <link rel="stylesheet" type="text/css" href="{{ static('main/font/flaticon.css') }}">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v"5.8.2/css/all.css"
         integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin=anonymous">-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ static("main/css/style.css") }}">
    <link rel="stylesheet" href="{{ static("main/css/custom.css") }}">

</head>
<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <footer class="sticky-footer bg-white py-3">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; MyCandidature 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/index.js') }}"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/util.js') }}"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/dropdown.js') }}"></script>
<script src="{{ static('main/plugins/sb-admin-2/js/sb-admin-2.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
{% block scripts %}

{% endblock %}
</body>
</html>
