<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock %} - MyCandidature
    </title>
    <meta name="csrf-token" content="{{ csrf_token }}"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ static('main/css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static('main/css/main.css') }}">
    {% block styles %} {% endblock %}
</head>

<body class="bg-gray-100">

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        {% if messages %}
        {% for msg in messages %}
        {% if msg.tags == 'error' %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close alert-msg-close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ msg.message }}
        </div>
        {% endif %}
        {% if msg.tags == 'success' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close alert-msg-close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ msg.message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <footer>Copyright &copy; MyCandidature 2020</footer>
            </div>
        </div>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/index.js') }}"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/util.js') }}"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/dropdown.js') }}"></script>
<script src="{{ static('main/plugins/bootstrap-4/js/tooltip.js') }}"></script>
<script src="{{ static('main/plugins/sb-admin-2/js/sb-admin-2.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    function APP() {
    }
</script>

<script src="{{ static('main/js/app.js')}}" type="text/javascript"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
