{% extends 'layouts/app.html' %}

{% block title %} List Organizations {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h1 class="h5 mb-0 text-gray-800">Organization</h1>
                <form action="/results/search" id="searchForm" class="d-flex m-auto position-relative">
                    <span class="search">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrfToken">
                        <input type="text" id="searchbar" name="q" placeholder="search keywords" maxlength="150">
                        <i class="flaticon-interface-1" id="searchIcon"></i>
                    </span>
                </form>
                <div>
                    <a class="btn btn-sm btn-primary"
                       href="/organization/add">Add</a>
                </div>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    {% include 'pages/organization/table.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if not organization_list %}
<div class="justify-content-center d-flex">
    <h4 class="">There are no organisations available.</h4>
</div>
{% endif %}
<div id="pagination_bar">
    {% include 'pages/pagination.html' %}
</div>

<script src="{{ static('main/js/hilitor.js') }}"></script>
<script type="application/javascript">
    function check() {
        var id = document.getElementById("p1")
        console.log(id)
        var r = confirm("Confirm delete");
        if (r == true) {
            location.replace("/organization/delete_org?organization_id=" + id.value)
        } else if (r == false) {
            location.replace("/organization/list")
        }
    }

    $("#searchbar").focusin(function () {
        $("#searchIcon").addClass("text-primary");
    });
    $("#searchbar").focusout(function () {
        $("#searchIcon").removeClass("text-primary");
    });
    $("#searchbar").on("input paste", function () {

        let query = $(this).val();
        $.ajax({
            type: "POST",
            url: '/organization/search/?page={{page.current_page}}',
            data: {
                'csrfmiddlewaretoken': $('#csrfToken').val(),
                'query': query
            },
            dataType: 'json',
            beforeSend: function () {
                // Show image container
                $(".table-responsive").addClass('blur-table');
            },
            success: function (data) {
                if (data.organizations) {
                    $(".table-responsive").html(data.organizations);
                    $("#pagination_bar").html(data.page);
                }
            },
            complete: function (data) {
                // Hide image container
                setTimeout(function () {
                    $(".table-responsive").removeClass('blur-table');
                }, 350);
                let myHilitor = new Hilitor("table"); // id of the element to parse
                myHilitor.apply(query);
            }
        });
    });
    $('#searchForm').on('keyup keypress', function (e) {
        let keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

</script>

{% endblock %}
