<table class="table">
    <thead class="">
    <tr>
        <th scope="col">Legal Name</th>
        <th scope="col">Display Name</th>
        <th scope="col">Contact Details</th>
        <th scope="col">City</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    {% for org in organization_list %}
    <tr>
        <td>
            <a href="/organization/view?organization_id={{org.id}}&page={{page.current_page}}">
                {{ org.legal_name }}</a>
        </td>
        <td>{{ org.display_name }}</td>
        <td>{{ org.contact_email }} / {{ org.contact_phone }}</td>
        <td>{{ org.city }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-sm btm-primary dropdown-toggle"
                        data-toggle="dropdown"
                        type="button">Select Operation<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="organization/update?organization_id={{ org.id }}&page={{page.current_page}}">Update</a></li>
                    <input hidden id="p1" type="text" value="{{ org.id }}">
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="javascript:;"
                           onclick='return check()'>Delete</a></li>
                    <li>
                        {% if org.is_active==true %}
                        <a class="btn btn-md btm-primary w-100 text-left"
                           href="/organization/deactivate_org?organization_id={{ org.id }}&page={{page.current_page}}">Deactivate</a></li>
                    {% else %}
                    <a class="btn btn-md btm-primary w-100 text-left"
                       href="/organization/activate_org?organization_id={{ org.id }}&page={{page.current_page}}">Activate</a></li>
                    {% endif %}
                    <li><a class="btn btn-md btm-primary w-100 text-left"
                           href="organization/reset_password?organization_id={{ org.id }}&page={{page.current_page}}">Reset Password</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>