{% extends "layouts/app.html" %}
{% block title %} Update Organization {% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <form action="/organization/update?organization_id={{ organization.id }}&page={{page}}"
              method="POST" id="addForm">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Update Organization
                    </h6>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="legal_name">Legal Name</label>
                            <input id="legal_name" type="text" class="form-control" name="legal_name"
                                   required="required" autofocus maxlength="75" value="{{ organization.legal_name }}"/>
                        </div>
                        <div class="form-group col-12">
                            <label for="display_name">Display Name</label>
                            <input id="display_name" type="text" class="form-control"
                                   name="display_name"
                                   required="required" maxlength="50" value="{{ organization.display_name}}"/>
                        </div>

                        <div class="form-group col-6">
                            <label for="first_name">Contact First Name</label>
                            <input id="first_name" type="text" class="form-control" name="first_name"
                                   required="required" maxlength="50" value="{{ users.first_name }}"/>
                        </div>
                        <div class="form-group col-6">
                            <label for="last_name">Contact Last Name</label>
                            <input id="last_name" type="text" class="form-control" name="last_name"
                                   required="required" maxlength="50" value="{{ users.last_name }}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-4">
                            <label for="email">Contact Email</label>
                            <input id="email" type="email" class="form-control" name="contact_email"
                                   required="required" maxlength="50" value="{{ organization.contact_email }}"/>
                        </div>
                        <div class="form-group col-4">
                            <label for="phone">Contact Phone</label>
                            <input id="phone" type="tel" class="form-control" name="contact_phone"
                                   required="required" maxlength="10" value="{{ organization.contact_phone }}" data-parsley-contact />
                        </div>
                        <div class="form-group col-4">
                            <label for="city">City</label>
                            <input id="city" type="text" class="form-control text-uppercase" name="city"
                                   required="required" maxlength="15" value="{{ organization.city}}" data-parsley-city />
                        </div>
                        <div class="form-group col-12">
                            <label for="address">Contact Address</label>
                            <textarea id="address" type="text" class="form-control" name="contact_address"
                                      required="required" rows="4">{{ organization.contact_address }}</textarea>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-success btn-icon-split btn-sm">
                        <span class="text">Update</span>
                    </button>
                    <a href="/organization/list?&page={{page}}" class="btn btn-outline-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"
        type="text/javascript"></script>
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/organization/add.js') }}"></script>
{% endblock %}

