{% extends "layouts/app.html" %}
{% block title %} Organization {% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h5 class="mb-0 text-gray-800">{{ organization.legal_name }}</h5>
                <a href="/organization/list?page={{page}}"><button class="btn">
                    <i class="flaticon-left-angle"></i> Back</button></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable"
                           role="grid" aria-describedby="dataTable_info" style="width: 75%;">
                        <tr>
                            <td>Display Name</td>
                            <td>{{ organization.display_name }}</td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>{{ users.first_name }}</td>
                        </tr>
                            <td>Last Name</td>
                            <td>{{ users.last_name }}</td>
                        </tr>
                        </tr>
                            <td>Email</td>
                            <td>{{ organization.contact_email }}</td>
                        </tr>
                        </tr>
                            <td>Phone</td>
                            <td>{{ organization.contact_phone }}</td>
                        </tr>
                        </tr>
                            <td>City</td>
                            <td>{{ organization.city }}</td>
                        </tr>
                        </tr>
                            <td>Address</td>
                            <td>{{ organization.contact_address }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}