{% extends 'layouts/app.html' %}

{% block title %} Results {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h1 class="h5 mb-0 text-gray-800">Result</h1>
                <form action="/results/search" id="searchForm" class="d-flex m-auto position-relative">
                    <span class="search">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrfToken">
                        <input type="text" id="searchbar" name="q" placeholder="search keywords" maxlength="150">
                        <i class="fa fa-search search-icon" id="searchIcon"></i>
                    </span>
                </form>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive" id="table">
                    {% include 'pages/result/table.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if not results %}
<div class="justify-content-center d-flex">
    <h4 class="">There are no results available.</h4>
</div>
{% endif %}
<div id="pagination_bar">
    {% include 'pages/pagination.html' %}
</div>
{% endblock %}
{% block scripts %}
<script src="{{ static('main/js/hilitor.js') }}"></script>
    <script>
        $("#searchbar").focusin(function(){
            $("#searchIcon").addClass("text-primary");
        });
        $("#searchbar").focusout(function(){
            $("#searchIcon").removeClass("text-primary");
        });
        $("#searchbar").on("input paste",function () {

            let query = $(this).val();
            $.ajax({
                type: "POST",
                url: '/result/search/?page={{page.current_page}}',
                data: {
                    'csrfmiddlewaretoken': $('#csrfToken').val(),
                    'query': query
                },
                dataType: 'json',
                beforeSend: function(){
                    // Show image container
                    $(".table-responsive").addClass('blur-table');
                },
                success: function (data) {
                    if(data.results){
                        $(".table-responsive").html(data.results);
                        $("#pagination_bar").html(data.page);
                    }
                },
                complete:function(data){
                    // Hide image container
                    setTimeout(function () {
                        $(".table-responsive").removeClass('blur-table');
                    }, 350);
                    let myHilitor = new Hilitor("table"); // id of the element to parse
                    myHilitor.apply(query);
                }
            });
        });
        $('#searchForm').on('keyup keypress', function(e) {
            let keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}

