<table class="table">
    <thead>
    <tr>
        <th scope="col">Candidate</th>
        <th scope="col">Score</th>
        <th scope="col">Created at</th>
        <th scope="col">Show Answers</th>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr>
        <td class="{{'text-danger' if not candidates[result.candidate_id]}}">{{ candidates[result.candidate_id] or 'This
            User is Deleted' }}
        </td>
        <td>{{ result.score }}</td>
        <td>{{ result.created_at.strftime('%d-%h-%Y %T') }}</td>
        <td>
            <form action="/result/view_answer"
                  method="post"
                  name="create_station"
                  target="_blank">
                <input name="csrfmiddlewaretoken" type="hidden"
                       value="{{ csrf_token }}">
                <input name="result_id" type="hidden"
                       value="{{result.id}}"/>
                <button class="btn btn-sm btn-outline-danger"
                        title="View Answer"
                        type="submit">
                    <span class="fa fa-eye"></span>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>