{% extends 'layouts/app.html' %}

{% block title %} View Answer {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <!--                Candidate Image-->
                <div class="mt-0 mb-0">
                    <img alt="candidate photo"
                         class="rounded img-fluid"
                         height="120px"
                         src="/media/test/{{ test.candidate_profile_picture }}"
                         width="120px">
                </div>
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">
                    {{ name }}
                </h1>
                <h2 class="h6 mb-0 text-gray-800">
                    <span class="h5 font-weight-bold">IPs: </span>
                    {% for ip in test.ip_address_list %}
                    {{ ip }}
                    {% if not loop.last %} , {% endif %}
                    {% endfor %}
                </h2>
            </div>
            <div class="card-body p-0 overflow-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Question</td>
                        <td>Answer of Candidate</td>
                        <td>Answer</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for answer in answers %}
                    <tr>
                        <td>{{ questions_list[answer.question_id] }}</td>
                        <td>
                            {% if answer.answers is mapping %}
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        Option
                                    </th>
                                    <th>
                                        Answer
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, value in answer.answers.items() %}
                                <tr>
                                    <td>
                                        {{ key }}
                                    </td>
                                    <td>
                                        {{ value }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class="markdown-content">{{ answer.answers }}</div>
                            {% endif %}
                        </td>
                        <td>
                            {% if answers_list[answer.question_id] is mapping
                            %}
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        Option
                                    </th>
                                    <th>
                                        Answer
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, value in
                                answers_list[answer.question_id].items() %}
                                <tr>
                                    <td>
                                        {{ key }}
                                    </td>
                                    <td>
                                        {{ value }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            {{ answers_list[answer.question_id] }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <form action="/result/view_feedback"
              method="post"
              name="create_station">
            <input name="csrfmiddlewaretoken" type="hidden"
                   value="{{ csrf_token }}">
            <input name="test_id" type="hidden"
                   value="{{test.id}}"/>
            <button class="btn btn-secondary"
                    title="Feedback"
                    type="submit">Show Feedback
            </button>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ static('main/js/marked.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".markdown-content").each(function () {
            let content = $(this).text();
            let markeddownContent = marked(content);
            $(this).html(markeddownContent);
        })
    })
</script>
{% endblock %}