{% extends 'layouts/app.html' %}

{% block title %} View Answer {% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <div class="markdown-content">{{ feedback }}</div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ static('main/js/marked.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".markdown-content").each(function () {
            let content = $(this).text();
            let markeddownContent = marked(content);
            $(this).html(markeddownContent);
        })
    })
</script>
{% endblock %}