{% extends "layouts/app.html" %}
{% block title %} Change Password
{% endblock %}

{% block content %}
<div class="card card-body w-50" xmlns="http://www.w3.org/1999/html">
    <form method="post" action="/user/change_password" id="passwordchangeform">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-group">
            <label>Current Password</label>
            <div>
              <input type="password" class="form-control" name="old_password"
                     placeholder="Enter Current Password" required="required"
                     id="oldPassword" autofocus>

             <span class="flaticon-shape field-icon toggle-password" id="eye-icon-1"></span>

            </div>

        </div>
        <div class="form-group">
            <label>New Password</label>
            <div>
              <input type="password" class="form-control" name="new_password"
                     placeholder="Enter New Password" required="required"
                     id="newPassword">
              <span class="flaticon-shape field-icon toggle-password " id="eye-icon-2"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Re-Enter New Password</label>
            <div>
              <input type="password" class="form-control" name="re_entered_password"
                     placeholder="Re-Enter New Password" required="required"
                     id="reEnterPassword">
              <span class="flaticon-shape field-icon toggle-password" id="eye-icon-3"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary float-right">Submit</button>
    </form>
</div>
{% endblock %}
{% block scripts %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" type="text/javascript"></script>
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/user/index.js') }}"></script>
<script>
    $("#eye-icon-1").on("click", function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        let input = document.getElementById("oldPassword");
        if(input.getAttribute("type") === "password"){
            input.setAttribute("type", "text");
        }
        else {
            input.setAttribute("type", "password");
        }
    });
    $("#eye-icon-2").on("click", function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        let input = document.getElementById("newPassword");
        if(input.getAttribute("type") === "password"){
            input.setAttribute("type", "text");
        }
        else {
            input.setAttribute("type", "password");
        }
    });
    $("#eye-icon-3").on("click", function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        let input = document.getElementById("reEnterPassword");
        if(input.getAttribute("type") === "password"){
            input.setAttribute("type", "text");
        }
        else {
            input.setAttribute("type", "password");
        }
    });

    window.Parsley.on('field:error', function() {
        $(this.$element).siblings('span').css("display", "none");
    });
    $("input").on("keypress", function () {
        console.log($(this).siblings("span"));
        $(this).siblings("span").css("display", "inline-block");
    })
</script>
{% endblock %}
