{% extends "layouts/app.html" %}
{% block title %} Dashboard
{% endblock %}

{% block content %}
{% if success_message %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Congratulations!</h4>
        <hr>
        <p class="mb-0">{{success_message}}</p>
    </div>
</div>
{% endif %}
{% endblock %}
