{% extends "layouts/empty.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-12">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="p-4">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4 font-weight-bold">My Candidature</h1>
                                </div>
                                <form method="POST" action="/user/authenticate">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email"
                                               class="form-control form-control-user"
                                               placeholder="Enter email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div>
                                            <input type="password" class="form-control form-control-user" name="password"
                                                   placeholder="Enter Current Password" required="required"
                                                   id="password">
                                            <span class="flaticon-interface field-icon toggle-password" id="eye-icon"></span>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#eye-icon").on("click", function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        let input = document.getElementById("password");
        if(input.getAttribute("type") === "password"){
            input.setAttribute("type", "text");
        }
        else {
            input.setAttribute("type", "password");
        }
    });
</script>
{% endblock %}