{% extends "layouts/app.html" %}
{% block title %} Add Skill {% endblock %}
{% block content %}
<div class="row">
    <div class="col-5">
        <form action="/skill/add" method="POST" name="add-form" id="addForm">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Add Skill
                    </h6>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="text" class="form-control text-uppercase" name="title"
                           required placeholder="e.g. Python" maxlength="50" autofocus/>
                </div>
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-success btn-icon-split btn-sm">
                        <span class="text">Submit</span>
                    </button>
                    <a href="/skill/list" class="btn btn-outline-secondary btn-sm">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"
        type="text/javascript"></script>
<script src="{{ static('main/js/custom-validation.js') }}"></script>
<script src="{{ static('main/js/skill/add.js') }}"></script>
{% endblock %}
