{% extends 'layouts/app.html' %}
{% block title %} List Skills {% endblock %}
{% block content %}
{% if success_message %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Congratulations!</h4>
        <hr>
        <p class="mb-0">{{success_message}}</p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h1 class="h5 mb-0 text-gray-800">Skills</h1>
                <div>
                    <a class="btn btn-sm btn-primary"
                       href="/skill/add">Add</a>
                </div>
            </div>
            <div class="card-body">
                {% for skill in skills %}
                    {% if skill.deactivated_at %}
                        <a class="badge badge-pill badge-light p-2 m-1"
                           href="/skill/activate?skill_id={{skill.id}}"
                           data-toggle="tooltip" title="Activate">
                            {{ skill.title }}
                        </a>
                    {% else %}
                        <a class="badge badge-pill badge-dark p-2 m-1"
                           href="/skill/deactivate?skill_id={{skill.id}}"
                           data-toggle="tooltip" title="Deactivate">
                            {{ skill.title }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if not skills %}
<div class="justify-content-center d-flex">
    <h4 class="">There are no skills available.</h4>
</div>
{% endif %}

{% endblock %}
{% block script%}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}