body{
  font-size: 0.75rem;
}
.ws-pr{
  white-space: pre-wrap;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  right: 1%;
}
.upload-file-text{
  position: relative;
  left: -86px;
  top: 3px;
  color: white;
}
.w-min-content{
  width: min-content;
}
.update-file-text{
  position: relative;
  left: -119px;
  top: 3px;
  color: white;
}
.w-10vw{
  width: 10vw;
}
span.search {
  position: relative;
}
span.search input {
  min-width: 100px;
  height: 25px;
  padding: 5px 35px 5px 12px;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
span.search input:focus {
  min-width: 350px;
}
span.search button.search {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  border: none;
  background: transparent;
}
span.search button.search i {
  color: #999;
  font-size: 15px;
  line-height: 20px;
}
span.search :focus {
  outline-color: transparent;
  outline-style: none;
}
.search-icon{
  left: -2vw;
  position: relative;
}
.blur-table{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background-color: #ccc;
}
.p-05 td{
  padding: 0.50rem;
}